<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <!--<style type="text/css">/*<![CDATA[*/
      /*STYLESHEET HERE*/
    /*]]>*/</style>-->
    <link type="text/css" rel="stylesheet" href="dashboard.css">
  </head>
  <body>
    <div class="dash" id="adash">
      <div class="dash-section">
        <h3 class="dash-header" title="Display core data" tabindex="0">App Data</h3>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item fsl-6 fxl-3">
              <div class="dash-label">PS Student ID</div>
              <div class="dash-content">{{emplid}}</div>
            </div>
            <div class="dash-item fsl-6 fxl-3">
              <div class="dash-label">PS App Number</div>
              <div class="dash-content">{{adm_appl_nbr}}</div>
            </div>
            <div class="dash-item fxl-4">
              <div class="dash-label">Admit Type Detailed</div>
              <div class="dash-content">{{admit_type_detailed}}</div>
            </div>
            <div class="dash-item fxl-2">
              <div class="dash-label">Academic Level</div>
              <div class="dash-content">{{academic_level}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item fsm-12 flg-2">
              <div class="dash-label">Admit Term</div>
              <div class="dash-content">{{admit_term}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Program Action</div>
              <div class="dash-content">{{program_action}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Action Reason</div>
              <div class="dash-content">{{action_reason}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Applied to Major</div>
              <div class="dash-content">{{major}}</div>
            </div>
            <div class="dash-item fsl-12 fxl-4">
              <div class="dash-label">Applied to Program</div>
              <div class="dash-content">{{academic_program}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">PeopleSoft Major</div>
              <div class="dash-content">{{peoplesoft_major}}</div>
            </div>
            <div class="dash-item fsl-12 fxl-4">
              <div class="dash-label">PeopleSoft Program</div>
              <div class="dash-content">{{peoplesoft_program}}</div>
            </div>
          </div>
          {% if app_prog == 'MUDEG' or app_plan == 'MU  PRE' %}
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Instrument Type</div>
              <div class="dash-content">{{music_instrumental_type}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Instrument</div>
              <div class="dash-content">{{music_classical_instrument}}{{music_jazz_instrument}}{{music_other_instrument}}</div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="dash-section">
        <h3 class="dash-header" title="Display supplemental data" tabindex="0">Supplemental Data</h3>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Recruiting Region</div>
              <div class="dash-content">{{region}}</div>
            </div>
            <div class="dash-item fsl-2">
              <div class="dash-label">Fee Status</div>
              <div class="dash-content">{{application_fee_status}}</div>
            </div>
            <div class="dash-item fsl-4">
              <div class="dash-label">App Completion Date</div>
              <div class="dash-content">{{complete_date}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Residency Status</div>
              <div class="dash-content">{{residency}}</div>
            </div>
            <div class="dash-item fsl-4">
              <div class="dash-label">Residency Country</div>
              <div class="dash-content">{{residency_country}}</div>
            </div>
            {% if residency_county %}
            <div class="fsl-12 fxl-0">
              <!-- No collapse -->
            </div>
            {% else %}
            <div class="d-none">
              <!-- No collapse -->
            </div>
            {% endif %}
            {% if residency_state %}
            {% if residency_county %}
            <div class="dash-item fxl-2">
              <div class="dash-label">Residency State</div>
              <div class="dash-content">{{residency_state}}</div>
            </div>
            {% else %}
            <div class="dash-item fsl-3 fxl-2">
              <div class="dash-label">Residency State</div>
              <div class="dash-content">{{residency_state}}</div>
            </div>
            {% endif %}
            {% endif %}
            {% if residency_county %}
            <div class="dash-item fxl-2">
              <div class="dash-label">Residency County</div>
              <div class="dash-content">{{residency_county}}</div>
            </div>
            {% endif %}
            {% if residency_exception %}
            <div class="dash-item">
              <div class="dash-label">Residency Exception</div>
              <div class="dash-content">{{residency_exception}}</div>
            </div>
            {% endif %}
          </div>
          {% if gpa_requirement or hours_restriction %}
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">GPA Requirement</div>
              <div class="dash-content">{{gpa_requirement}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Hours Restriction</div>
              <div class="dash-content">{{hours_restriction}}</div>
            </div>
          </div>
          {% endif %}
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Converted Composite</div>
              <div class="dash-content">{{comp_converted}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Converted Math</div>
              <div class="dash-content">{{math_converted}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Application Populations</div>
              <div class="dash-content">{{population}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="dash-section">
        <h3 class="dash-header" title="Display self-reported data" tabindex="0">Self-Reported Data</h3>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">ACT Composite</div>
              <div class="dash-content">{{act_self_reported}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">SAT Total</div>
              <div class="dash-content">{{sat_self_reported}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">High School GPA</div>
              <div class="dash-content">{{hs_gpa_self_reported}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">College GPA</div>
              <div class="dash-content">{{college_gpa_self_reported}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Military Status</div>
              <div class="dash-content">{{military_status}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Military Dependent</div>
              <div class="dash-content">{{military_dependent}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Military Connection</div>
              <div class="dash-content">{{military_connected}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Alumni Dependent</div>
              <div class="dash-content">{{alumni_dependent}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Does Not Intend to Enroll</div>
              <div class="dash-content">{{dnie}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="dash-section">
        <h3 class="dash-header" title="Display external data" tabindex="0">External Data</h3>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Housing App On File</div>
              <div class="dash-content">{{housing_app}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Housing Exempt</div>
              <div class="dash-content">{{housing_exempt}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Housing Assignment</div>
              <div class="dash-content">{{housing_assignment}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item fsm-6 flg-3">
              <div class="dash-label">Campus Email</div>
              <div class="dash-content">
                <a class="dash-popem break-all" href="#" data-href="/manage/lookup/message?cmd=compose&person={{person|url_encode}}&recipient={{campus_email|url_encode}}" onclick="return (FW.Lazy.Popup(this));">
                  {{campus_email}}
                </a>
              </div>
            </div>
            <div class="dash-item fsm-6 flg-3">
              <div class="dash-label">PS Account Active</div>
              <div class="dash-content">{{ps_account_active}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Enrolled Terms</div>
              <div class="dash-content">{{enrolled_terms}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Advising Hold (Transfers)</div>
              <div class="dash-content">{{adv_hold}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="dash-section">
        <h3 class="dash-header" title="Display related data" tabindex="0">Related Data</h3>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Scholarship Group</div>
              <div class="dash-content">{{schol_stdgrp}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Scholarship Eff Date</div>
              <div class="dash-content">{{schol_effdt}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Honors Decision</div>
              <div class="dash-content">{{honors_decision}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Orientation Date</div>
              <div class="dash-content">{{orndate}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">SOSer</div>
              <div class="dash-content">{{soser}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <!--<script type="text/javascript">/*<![CDATA[*/
      /*SCRIPT HERE*/
    /*]]>*/</script>-->
    <script type="text/javascript" src="dashboard.js"></script>
  </body>
</html>
