<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <!--<style type="text/css">/*<![CDATA[*/
      /*STYLESHEET HERE*/
    /*]]>*/</style>-->
    <link type="text/css" rel="stylesheet" href="dashboard.css">
  </head>
  <body>
    <div class="dash">
      <!--<div class="dash-section">
        <h3 class="dash-header">ID Numbers</h3>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">PS Student ID</div>
              <div class="dash-content">{{emplid}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Slate ID</div>
              <div class="dash-content">{{ref}}</div>
            </div>
          </div>
        </div>
      </div>-->
      <div class="dash-section">
        <h3 class="dash-header">Prospect Info</h3>
        <div class="dash-body">
          <!-- <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">PS Student ID</div>
              <div class="dash-content">{{emplid}}</div>
            </div>
          </div> -->
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Admit Term</div>
              <div class="dash-content">{{admit_term}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Admit Type</div>
              <div class="dash-content">{{admit_type}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Region</div>
              <div class="dash-content">{{region}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">HS Grad Date</div>
              <div class="dash-content">{{hs_grad_date}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Major Interests</div>
              <div class="dash-content">{{majors}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="dash-section">
        <h3 class="dash-header">Top-Ranked App</h3>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item">
              <a href="/manage/lookup/record?id={{app1_guid|url_encode}}">Jump to App</a>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">PS Student ID</div>
              <div class="dash-content">{{emplid}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item fsl-12 fxl-6">
              <div class="dash-label">Applied Major</div>
              <div class="dash-content">{{app1_applied_major}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Admit Term</div>
              <div class="dash-content">{{app1_admit_term}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Admit Type Detail</div>
              <div class="dash-content">{{app1_admit_type_detail}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item fsl-12 fxl-6">
              <div class="dash-label">PeopleSoft Major</div>
              <div class="dash-content">{{app1_ps_major}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Program Action</div>
              <div class="dash-content">{{app1_prog_action}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="dash-section">
        <h3 class="dash-header">Top-Ranked School</h3>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item">
              <a href="/manage/lookup/record?id={{id|url_encode}}&tab=Profile%2fSchools">Jump to Schools</a>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item fsl-12 fxl-6">
              <div class="dash-label">Name</div>
              <div class="dash-content">{{school1_name}}</div>
            </div>
            <div class="dash-item fxl-4">
              <div class="dash-label">City</div>
              <div class="dash-content">{{school1_city}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">CEEB</div>
              <div class="dash-content">{{school1_ceeb}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">GPA</div>
              <div class="dash-content">{{school1_gpa}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Transcript Flag</div>
              <div class="dash-content">{{school1_tflag}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Transcript Status</div>
              <div class="dash-content">{{school1_tstatus}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Transcript Date</div>
              <div class="dash-content">{{school1_tdate}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="dash-section">
        <h3 class="dash-header">Admissions Counselor</h3>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item fsl-6 fxl-3">
              <div class="dash-label">Name</div>
              <div class="dash-content">{{staff_name}}</div>
            </div>
            <div class="dash-item fsl-6 fxl-3">
              <div class="dash-label">Phone</div>
              <div class="dash-content">
                <a href="tel:{{staff_phone|url_encode}}">
                  {{staff_phone}}
                </a>
              </div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Email</div>
              <div class="dash-content">
                <a class="dash-popem break-all" href="#" data-href="/manage/lookup/message?cmd=compose&person={{id|url_encode}}&recipient={{staff_email|url_encode}}" onclick="return (FW.Lazy.Popup(this));">
                <!-- <a class="break-all" href="mailto:{{staff_email|url_encode}}?subject=RE%3A%20{{first|url_encode}}%20{{last|url_encode}}%2C%20Ref%3A%20{{ref|url_encode}}"> -->
                  {{staff_email}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dash-section">
        <h3 class="dash-header">Contact</h3>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item">
              <a href="/manage/lookup/record?id={{id|url_encode}}&tab=Profile%2fContact">Jump to Contact</a>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item fsl-4 fxl-3">
              <div class="dash-label">Text Permission</div>
              <div class="dash-content" id="dash-tp">{{text_permission}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Mobile</div>
              <div class="dash-content" id="dash-mob">
                <a class="dash-popph" href="#" data-href="/manage/lookup/message?cmd=compose&person={{id|url_encode}}&recipient={{mobile|url_encode}}&method=sms" onclick="return (FW.Lazy.Popup(this));">
                  {{mobile}}
                </a>
              </div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Email</div>
              <div class="dash-content">
                <a class="dash-popem break-all" href="#" data-href="/manage/lookup/message?cmd=compose&person={{id|url_encode}}&recipient={{email|url_encode}}" onclick="return (FW.Lazy.Popup(this));">
                  {{email}}
                </a>
              </div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Guardian Email</div>
              <div class="dash-content">
                <a class="dash-popem break-all" href="#" data-href="/manage/lookup/message?cmd=compose&person={{id|url_encode}}&recipient={{guardian_email|url_encode}}" onclick="return (FW.Lazy.Popup(this));">
                  {{guardian_email}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if act_exists %}
      <div class="dash-section" id="dash-act">
        <h3 class="dash-header">Max Verified ACT Components</h3>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item">
              <a href="/manage/lookup/record?id={{id|url_encode}}&tab=Profile%2fScores">Jump to Scores</a>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Composite</div>
              <div class="dash-content">{{act_comp}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Math</div>
              <div class="dash-content">{{act_math}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Reading</div>
              <div class="dash-content">{{act_read}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">English</div>
              <div class="dash-content">{{act_engl}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Science Reasoning</div>
              <div class="dash-content">{{act_scire}}</div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if satr_exists %}
      <div class="dash-section" id="dash-satr">
        <h3 class="dash-header">Max Verified SAT Components</h3>
        <div class="dash-row">
          <div class="dash-item">
            <a href="/manage/lookup/record?id={{id|url_encode}}&tab=Profile%2fScores">Jump to Scores</a>
          </div>
        </div>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Total</div>
              <div class="dash-content">{{satr_total}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Math</div>
              <div class="dash-content">{{satr_math}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Evidence-Based Reading and Writing</div>
              <div class="dash-content">{{satr_erws}}</div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <!--<div class="dash-section" id="dash-recdet">
        <h3 class="dash-header">Recruiting Details</h3>
        <div class="dash-body">
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Recruiting Categories</div>
              <div class="dash-content">{{recruiting_categories}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">PS Comm Codes</div>
              <div class="dash-content">{{ps_comm_codes}}</div>
            </div>
          </div>
          <div class="dash-row">
            <div class="dash-item">
              <div class="dash-label">Referral Source</div>
              <div class="dash-content">{{referral_source}}</div>
            </div>
            <div class="dash-item">
              <div class="dash-label">Referral Date</div>
              <div class="dash-content">{{referral_date}}</div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
    <!--<script type="text/javascript">/*<![CDATA[*/
      /*SCRIPT HERE*/
    /*]]>*/</script>-->
    <script type="text/javascript" src="dashboard.js"></script>
  </body>
</html>
