.dash {
  box-sizing: border-box;
  width: 100%;
  color: #333;
  padding: 0 5px;
  border: 1px dotted #333;
  border-radius: 5px;
}

.dash * {
  box-sizing: border-box;
  width: 100%;
}

.dash-section {
  padding: 10px;
  border: 1px solid #666;
  border-radius: 5px;
  margin: 5px 0;
}

.dash-header {
  color: #666;
  padding-bottom: 5px;
  margin: 0;
  border-bottom: 1px solid #666;
  cursor: pointer;
}

.dash-row {
  display: flex;
  flex-flow: row wrap;
}

.dash-item {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 10px;
}

.dash-label {
  color: #666;
}

.dash-content {
  padding: 2.5px;
  border: 1px solid #333;
  border-radius: 2.5px;
}

.break-all {
  word-break: break-all;
}

.dash-ic {
  color: #fff;
  background-color: #333;
  border-color: #fff;
}

.dash-ic * {
  color: #fff;
  background-color: #333;
  border-color: #fff;
}

.dash-tl {
  opacity: 0.75;
}

.dash-tl * {
  opacity: 0.75;
}
