#dashboard {
  box-sizing: border-box;
  width: 100%;
  color: #333;
  padding: 5px;
  border: 1px dotted #333;
  border-radius: 5px;
}

#dashboard * {
  box-sizing: border-box;
  width: 100%;
}

.dashsection {
  padding: 10px;
  border: 1px solid #666;
  border-radius: 5px;
}

.dashheader {
  color: #666;
  padding-bottom: 5px;
  margin: 0;
  border-bottom: 1px solid #666;
}

.dashrow {
  display: flex;
  flex-flow: row wrap;
}

.dashitem {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 10px;
}

.dashlabel {
  color: #666;
}

.dashcontent {
  padding: 2.5px;
  border: 1px solid #333;
  border-radius: 2.5px;
}
